<div style="text-align: center;">
<div class="card border-primary mb-3">
    <div class="card-header"><h3>questions.json</h3></div>
    <div class="card-body">
      <h4 class="card-title" style="padding: 30px;">Questions count: 56</h4>
      <button type="button" class="btn btn-primary btn-lg btn-block my-2" routerLink="/question">
        Start
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-block my-2" routerLink="/home.php">
        Back
      </button>
    </div>
</div>
</div>
