<div class="container-fluid my-2 mx-0 p-0">
  <div class="row">
    <div class="col-md-8">
      <div class="card border-primary">
        <div class="card-header">
          {{currentQuestion.content}}
        </div>
        <div class="card-body">
          <div *ngIf="!wasCheckButtonClicked; else afterCheck">
            <div *ngIf='currentQuestion.questionType == "TrueFalse"'>
              <div *ngFor="let answer of currentQuestion.answers; index as i;" class="row my-1">
                <div class="col-lg-8 align-self-center">
                  <span class="text-white">{{answer.content}}</span>
                </div>
                <div class="col-lg-2">
                  <button type="checkbox" class="btn btn-block btn-outline-secondary" (click)="onAnswerSelect(i, true)"
                    [class.active]="userAnswere[i]">
                    <span class="text-white text-nowrap">Prawda</span>
                  </button>
                </div>
                <div class="col-lg-2">
                  <button type="checkbox" class="btn btn-block btn-outline-secondary" (click)="onAnswerSelect(i, false)"
                    [class.active]="userAnswere[i] === false">
                    <span class="text-white text-nowrap">Fałsz</span>
                  </button>
                </div>
              </div>
            </div>

            <div *ngIf='currentQuestion.questionType != "TrueFalse"'>
              <div *ngFor="let answer of currentQuestion.answers; index as i;" class="d-block">
                <button type="checkbox" class="btn btn-block btn-outline-secondary my-1" (click)="onAnswerSelect(i)"
                  [class.active]="userAnswere[i] === true">
                  <span class="text-white">{{answer.content}}</span>
                </button>
              </div>
            </div>
          </div>

          <ng-template #afterCheck>
            <div *ngIf='currentQuestion.questionType == "TrueFalse"'>
              <div *ngFor="let answer of currentQuestion.answers; index as i;" class="row my-1">
                <div class="col-lg-8 align-self-center">
                  <span class="text-white">{{answer.content}}</span>
                </div>
                <div class="col-lg-2">
                  <button type="checkbox" class="btn btn-block btn-outline-secondary" (click)="onAnswerSelect(i, true)"
                  [ngClass]="{
                    'btn-outline-secondary': isCorrect(i, false) && userAnswere[i] === undefined,
                    'btn-outline-danger': isCorrect(i, false) && userAnswere[i],
                    'btn-outline-warning': isCorrect(i, true) && !userAnswere[i],
                    'btn-outline-success': isCorrect(i, true) && userAnswere[i]}">
                    <span class="text-white text-nowrap">Prawda</span>
                  </button>
                </div>
                <div class="col-lg-2">
                  <button type="checkbox" class="btn btn-block btn-outline-secondary" (click)="onAnswerSelect(i, false)"
                    [ngClass]="{
                    'btn-outline-secondary': isCorrect(i, true) && userAnswere[i] === undefined,
                    'btn-outline-danger': isCorrect(i, true) && userAnswere[i] === false,
                    'btn-outline-warning': isCorrect(i, false) && userAnswere[i] !== false,
                    'btn-outline-success': isCorrect(i, false) && userAnswere[i] === false}">
                    <span class="text-white text-nowrap">Fałsz</span>
                  </button>
                </div>
              </div>
            </div>

            <div *ngIf='currentQuestion.questionType != "TrueFalse"'>
              <div *ngFor="let answer of currentQuestion.answers; index as i;" class="d-block">
                <button type="checkbox" class="btn btn-block my-1" (click)="onAnswerSelect(i)" [ngClass]="{
                  'btn-outline-secondary': !isCorrect(i) && userAnswere[i] === undefined,
                  'btn-outline-danger': !isCorrect(i) && userAnswere[i],
                  'btn-outline-warning': isCorrect(i) && userAnswere[i] === undefined,
                  'btn-outline-success': isCorrect(i) && userAnswere[i]}">
                  <span class="text-white">{{answer.content}}</span>
                </button>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="py-2">
        <span>Udzielone odpowiedzi</span>
        <div class="progress" style="height: 1.5em;">
          <div class="progress-bar bg-success p" role="progressbar" [style.width]="getCorrectProgress()">
            {{correctCount}}</div>
          <div class="progress-bar bg-danger" role="progressbar" [style.width]="getIncorrectProgress()">
            {{incorrectCount}}</div>
        </div>
      </div>

      <div class="pb-2">
        <span>Opanowane pytania</span>
        <div class="progress" style="height: 1.5em;">
          <div class="progress-bar bg-success p" role="progressbar" [style.width]="getLearnedProgress()">
            {{learnedCount}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-8">
    </div>
    <div class="col-md-4 align-self-end p">
      <button *ngIf="!wasCheckButtonClicked" type="button" class="btn btn-primary btn-block"
        (click)="onCheckQuestion()">
        <h5>Sprawdź</h5>
      </button>
      <button *ngIf="wasCheckButtonClicked" type="button" class="btn btn-primary btn-block" (click)="nextQuestion()">
        <h5>Dalej</h5>
      </button>
    </div>
  </div>
</div>


<!-- <div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
    [style.width]="getProgress() + '%'"></div>
</div> -->
